html {
  height: 100vh;
}

body {
  background-color: black;
  font-family: "Courier New", Courier, monospace;
  color: white;
  height: 100vh;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

#navbar {
  color: grey;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-row: 100%;
}

.navLinks li {
  text-decoration: none;
  list-style: none;
  display: inline;
}

#brand {
  grid-column: 1;
  grid-row: 1;
}

#cta {
  text-align: right;
  grid-row: 1;
  grid-column: 2;
  margin: 1em;
}

main {
  text-align: center;
  vertical-align: middle;
}

#pageTitle {
  text-align: center;
  vertical-align: middle;
}

button {
  color: white;
  background-color: inherit;
  border: none;
  padding: auto;
}

button:hover {
  background-color: slategray;
}

main ul {
  padding: 0;
  list-style: none;
}
